body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 300px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  
}

.pdaCanvas {
  display: none;
  width: 60%;
  margin: 15px auto 15px auto;
}

#AcceptedMessage  {
	display: none;
	background-color: green;
}

#DenniedMessage	{
	display: none;
	background-color: red;
}

#PDA_Results {
	padding-top: 25px;
}

.labelsContainer {
	padding-top: 15px;
}

.labelsContainer span {
	margin-right: 15px;
}

.pdaLabel {
	display: inline-block;
	width: 15px;
	height: 10px;
	margin-right: 5px;
}

.rootNodeLabel {
	background-color: #FFFF00;
}

.finalNodeLabel {
	background-color: #DC143C;	
}

.container {
	margin-bottom: 50px;
}